*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{

background:black;

color:white;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:40px;

}



#app{

width:100%;

max-width:1200px;

text-align:center;

}



h1{

color:#ff3b3b;

font-size:80px;

margin-bottom:40px;

text-shadow:
0 0 15px red,
0 0 35px red;

}



h2{

color:#ff8c8c;

font-size:34px;

margin-bottom:30px;

}



button{

display:block;

margin:20px auto;

padding:18px 40px;

font-size:24px;

font-weight:bold;

border:none;

border-radius:18px;

background:#e5e5e5;

color:black;

cursor:pointer;

transition:.3s;

}



button:hover{

transform:scale(1.06);

background:red;

color:white;

box-shadow:
0 0 20px red,
0 0 40px red;

}



.step{

max-width:1200px;

margin:15px auto;

padding:18px;

font-size:22px;

line-height:1.5;

background:#0d0d0d;

border-left:8px solid red;

border-radius:16px;

box-shadow:
0 0 18px rgba(255,0,0,.4);

animation:fade .5s ease;

}



pre{

max-width:1200px;

margin:auto;

padding:30px;

background:#101010;

color:#00ff99;

border-radius:20px;

overflow:auto;

font-size:18px;

text-align:left;

box-shadow:
0 0 20px rgba(0,255,100,.2);

}



@keyframes fade{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}



@media(max-width:768px){

h1{

font-size:52px;

}

h2{

font-size:26px;

}

button{

font-size:18px;

padding:14px 24px;

}

.step{

font-size:18px;

}

}
.loading{

display:flex;

flex-direction:column;

align-items:center;

gap:20px;

}

.spinner{

width:80px;

height:80px;

border:8px solid #222;

border-top:8px solid red;

border-radius:50%;

animation:spin 1s linear infinite;

}

.loading-text{

font-size:22px;

color:#ff6666;

animation:pulse 1.5s infinite;

}

.loading-sub{

color:#cccccc;

font-size:18px;

}

@keyframes spin{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}

@keyframes pulse{

0%{

opacity:1;

}

50%{

opacity:.4;

}

100%{

opacity:1;

}

}
.guide{

max-width:1000px;

margin:30px auto;

padding:28px;

background:#111111;

border-left:8px solid red;

border-radius:18px;

text-align:left;

box-shadow:
0 0 18px rgba(255,0,0,.3);

animation:fade .5s ease;

}

.guide h2{

color:#ff6666;

font-size:32px;

margin-bottom:20px;

}

.guide p{

font-size:20px;

line-height:1.9;

color:#dddddd;

margin-bottom:18px;

}

#playbookCode{

margin-top:25px;

white-space:pre-wrap;

word-break:break-word;

line-height:1.7;

}

.copyButton{

background:#00cc66;

color:black;

}

.copyButton:hover{

background:#00ff88;

color:black;

box-shadow:
0 0 25px #00ff88;

}
